<main class="login">
  <section class="card">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    @if (dadosClima())  {
    <app-nome-cidade>
      {{ dadosClima()?.name }}
    </app-nome-cidade>

    <app-nome-cidade>
      {{ dadosClima()?.main?.temp | number: '1.0-0'}}°C
    </app-nome-cidade>
    <!--<h1 class="city">{{ dadosClima()?.name }}</h1>  -->

    <!--<div class="temp">  
      {{ dadosClima()?.main?.temp | number: '1.0-0'}}°C</div>-->

    <app-img-titulo [clima]="dadosClima()!.weather[0]">
    </app-img-titulo>

    <app-min-max [main]="dadosClima()!.main">
    </app-min-max>

    <app-button (onClick)="navegarParaTelaDePesquisa()">
      Pesquisar
    </app-button>
  } @else {
    <app-loading-cidade mensagem="carregando temperatura"></app-loading-cidade>
  }
  </section>
</main>