<main class="login">
  <section class="card">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">

    @if (dadosClima())  {
    <h1 class="city">{{ dadosClima()?.name }}</h1>

    <div class="temp">  
      {{ dadosClima()?.main?.temp | number: '1.0-0'}}°C</div>

    <div class="img-titulo">

      @let clima = dadosClima()!.weather[0];

        <img class="icon" [src]="'https://openweathermap.org/img/wn/' + clima.icon + '@2x.png'" alt="">
        <p class="desc">{{ clima.description | titlecase}}</p>
    </div>
  
    <div class="minmax">
      <span>Min {{dadosClima()?.main?.temp_min | number: '1.0-0'}}°C</span>
      <span>Max {{dadosClima()?.main?.temp_max | number: '1.0-0'}}°C</span>
    </div>

    <button class="btn btn-primary" (click)="buscarClima()">
      Pesquisar clima
    </button>
  } @else {
    <p class="desc">Carregando...</p>
  }
  </section>
</main>