:host {
  .clima-container {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card {
    width: 100%;
    max-width: 420px;
    background: rgb(222, 6, 143);
    padding: 32px;
    border: 1px solid rgba(248, 7, 111, 0.762);
    border-radius: 24px;
    backdrop-filter: blur(20px) saturate(1.5);
    text-align: center;
    transition: all 0.4s ease;

    &:hover {
      transform: translateY(-5px);
      border-color: rgba(255, 0, 136, 0.966);
    }
  }
}
